:root {
  --mv-color-bg: #ffffff;
  --mv-color-fg: #000000;

  --mv-color-accent-1-bg: #ffffff;
  --mv-color-accent-1-fg: #000000;

  --mv-color-accent-2-bg: #ffffff;
  --mv-color-accent-2-fg: #000000;

  --mv-color-accent-3-bg: #ffffff;
  --mv-color-accent-3-fg: #000000;

  --mv-color-muted: #555555;

  --mv-link-color: var(--mv-color-fg);
  --mv-link-color-hover: var(--mv-link-color);
  --mv-link-color-active: var(--mv-link-color);
  --mv-link-color-visited: var(--mv-link-color);

  --mv-color-dash-1: var(--mv-color-accent-1-bg);
  --mv-color-dash-2: var(--mv-color-accent-2-bg);

  --mv-transition-duration: 0.5s;
  --mv-transition-timing-function: ease;

  color-scheme: light dark;
}

body {
  background-color: var(--mv-color-bg);
  color: var(--mv-color-fg);
  
  transition: background-color var(--mv-transition-duration) var(--mv-transition-timing-function), color var(--mv-transition-duration) var(--mv-transition-timing-function);
}

a { 
  color: var(--mv-link-color);

  transition: background-color var(--mv-transition-duration) var(--mv-transition-timing-function), color var(--mv-transition-duration) var(--mv-transition-timing-function);
}

a:hover {
  color: var(--mv-link-color-hover);
}

a:active {
  color: var(--mv-link-color-active);
}

a:visited {
  color: var(--mv-link-color-visited);
}

mark {
  background-color: var(--mv-color-accent-1-bg);
  color: var(--mv-color-accent-1-fg);
  padding-inline: 0.2em; 
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  
  transition: background-color var(--mv-transition-duration) var(--mv-transition-timing-function), color var(--mv-transition-duration) var(--mv-transition-timing-function);
}

code {
  background-color: var(--mv-color-accent-2-bg);
  color: var(--mv-color-accent-2-fg);
  padding-inline: 0.2em; 
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  transition: background-color var(--mv-transition-duration) var(--mv-transition-timing-function), color var(--mv-transition-duration) var(--mv-transition-timing-function);
}
